/* Lab 4 - CSS Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color:#608BC1;
}

header {
    background-color: #608BC1;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    background-color: #608BC1;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
}
/* new additional feature */
#searchBox {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 16px;
}

#subjectList {
    list-style: none;
    padding: 0;
}

.subject-item {
    background-color: #f0f0f0;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.subject-item:hover {
    background-color: #ddd;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #CBDCEB;
    color: rgb(19, 62, 135);
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}
